* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-bottom: 100px;
    position: relative;
}

body {
    background: #FFF;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 13px;
    color: #000;
}

.title {
    margin: 100px auto 0px;
    padding: 0px;
    width: 900px;

    font-size: 120px;
    font-weight: bold;
}
.title a {
    color: #000;
    text-decoration: none;
}
.title a:hover {
    color: #000;
    text-decoration: none;
}

.nav {
    margin: auto;
    width: 900px;

    font-size: 20px;
    font-weight: bold;

    border-bottom: #000 3px solid;
}
.nav ul {
}
.nav ul li {
    display: inline;
    list-style-type: none;
}
.nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 0px 5px 0px 0px;
}
.nav ul li a:hover {
    color: #700;
    border-bottom: #A00 4px solid;
}

.content {
    margin: 15px auto;
    width: 900px;
}
.motto {
    margin: 0px auto;
    width: 700px;
    font-size: 17px;
    font-style: italic;
    text-align: center;
}

.customerQuote {
    margin: 10px auto;
}
.customerQuote .quote {
    text-align: justify;
    padding-left: 275px;
    min-height: 200px;
}
.customerQuote .quote .quotee {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
.customerQuote .quote .quoteeInfo {
    text-align: right;
    font-style: italic;
    font-size: 12px;
}
.customerQuote .image {
    float: left;
    overflow: hidden;
    width: 250px;
    height: 200px;
    border: 2px #000 solid;
}
.customerQuote .image img {
    margin: -650px 0px 0px -150px;
}

.clearFooter {
    height: 100px;
    clear: both;
}
.footer {
    height: 100px;
    position: relative;

    background-color: #000;
    color: #fff;
}
.footerStuff {
    margin: 0px auto;
    padding-top: 15px;
    text-align: right;
    width: 900px;
}